@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Sorce sans pro, sans-serif;
    color: #000000;
}

/* headings*/

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
}

/* logo and nav  */

#logo {
    font-size: 300%;
    letter-spacing: 5px;
    float: left;
    margin-left: 40px;
}

#menu, #logo {
    line-height: 100px;
}

#menu {
    font-size: 120%;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu li {
    display: inline-block;
    padding-right: 10px;    
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #0EDA68;
}


/* hero image */

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/risen-wang-20jX9b35r_M-unsplash.jpg) no-repeat center right;
    background-size: cover;
    overflow: hidden;
}